certifi==2018.10.15
chardet==3.0.4
idna==2.7
numpy==1.15.4
oauthlib==2.1.0
pandas==0.23.4
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
requests-oauthlib==1.0.0
six==1.11.0
twython==3.7.0
urllib3==1.26.5
